body {
    height: 95vh;
    width: 95wh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(15, 88, 15);
    text-transform: uppercase;
}